Repository verlyn13/dicee: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, biome-check, svelte-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "packages/engine/src/**/*.rs"
      run: mise exec -- cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "packages/engine/src/**/*.rs"
      run: mise exec -- cargo clippy -- -D warnings

    biome-check:
      glob: "packages/web/src/**/*.{ts,js,svelte}"
      run: mise exec -- pnpm --filter @dicee/web biome:check

    svelte-check:
      glob: "packages/web/src/**/*.{ts,svelte}"
      run: mise exec -- pnpm --filter @dicee/web check

pre-push:
  commands:
    rust-test:
      run: mise exec -- cargo test --manifest-path packages/engine/Cargo.toml

feat(web): implement Phase 1 & 2 - game state, UI components, and test suite
  packages/web/package.json
  packages/web/src/lib/__tests__/types.test.ts
  packages/web/src/lib/components/dice/DiceTray.svelte
  packages/web/src/lib/components/dice/Die.svelte
  packages/web/src/lib/components/dice/__tests__/DiceTray.test.ts
  packages/web/src/lib/components/dice/__tests__/Die.test.ts
  packages/web/src/lib/components/dice/index.ts
  packages/web/src/lib/components/hud/GameStatus.svelte
  packages/web/src/lib/components/hud/StatsToggle.svelte
  packages/web/src/lib/components/hud/__tests__/GameStatus.test.ts
  packages/web/src/lib/components/hud/__tests__/StatsToggle.test.ts
  packages/web/src/lib/components/hud/index.ts
  packages/web/src/lib/components/index.ts
  packages/web/src/lib/components/scorecard/CategoryRow.svelte
  packages/web/src/lib/components/scorecard/Scorecard.svelte
  packages/web/src/lib/components/scorecard/__tests__/CategoryRow.test.ts
  packages/web/src/lib/components/scorecard/__tests__/Scorecard.test.ts
  packages/web/src/lib/components/scorecard/index.ts
  packages/web/src/lib/engine.ts
  packages/web/src/lib/index.ts
  packages/web/src/lib/stores/__tests__/dice.test.ts
  packages/web/src/lib/stores/__tests__/game.test.ts
  packages/web/src/lib/stores/__tests__/integration.test.ts
  packages/web/src/lib/stores/__tests__/scorecard.test.ts
  packages/web/src/lib/stores/dice.svelte.ts
  packages/web/src/lib/stores/game.svelte.ts
  packages/web/src/lib/stores/index.ts
  packages/web/src/lib/stores/scorecard.svelte.ts
  packages/web/src/lib/styles/global.css
  packages/web/src/lib/styles/tokens.css
  packages/web/src/lib/types.ts
  packages/web/src/lib/types/vitest.d.ts
  packages/web/src/routes/+layout.svelte
  packages/web/src/routes/+page.svelte
  packages/web/vitest.config.ts
  packages/web/vitest.setup.ts
  pnpm-lock.yaml
Due: biome-check, svelte-check

docs: add lint quick-fixes to agent guardrails
  .claude/AGENT-GUARDRAILS.md
  .claude/typescript-biome-strategy.md
Due: none

feat(web): complete Phase 3 profile system with zero lint warnings
  .claude/typescript-biome-strategy.md
  packages/web/src/lib/components/auth/__tests__/AuthStatus.test.ts
  packages/web/src/lib/components/auth/__tests__/MagicLinkForm.test.ts
  packages/web/src/lib/components/auth/__tests__/PlayNowButton.test.ts
  packages/web/src/lib/components/profile/GameHistory.svelte
  packages/web/src/lib/components/profile/ProfileForm.svelte
  packages/web/src/lib/components/profile/SetupModal.svelte
  packages/web/src/lib/components/profile/StatsDashboard.svelte
  packages/web/src/lib/components/profile/__tests__/GameHistory.test.ts
  packages/web/src/lib/components/profile/__tests__/ProfileForm.test.ts
  packages/web/src/lib/components/profile/__tests__/SetupModal.test.ts
  packages/web/src/lib/components/profile/__tests__/StatsDashboard.test.ts
  packages/web/src/lib/hooks/useKeyboardNavigation.svelte.ts
  packages/web/src/lib/services/engine.test.ts
  packages/web/src/lib/stores/__tests__/auth.test.ts
  packages/web/src/lib/stores/__tests__/game.test.ts
  packages/web/src/lib/stores/auth.svelte.ts
  packages/web/src/lib/stores/game.svelte.ts
  packages/web/src/routes/(protected)/+layout.server.ts
  packages/web/src/routes/(protected)/profile/+page.server.ts
  packages/web/src/routes/(protected)/profile/+page.svelte
  scripts/quality-gate.sh
Due: biome-check, svelte-check

chore: update project config and documentation
  .gitignore
  CLAUDE.md
  package.json
  packages/web/src/app.d.ts
  packages/web/vitest.config.ts
  scripts/hooks/log-tool-use.sh
  scripts/hooks/session-finalize.sh
  scripts/hooks/session-init.sh
Due: none

chore: ignore IDE config directories and temp files
  .gitignore
Due: none

feat(engine): complete M1-M4 statistical engine upgrade through Phase 5a
  .claude/workflows/dicee-m1-m4.yaml
  docs/rfcs/adr-001-config-model.md
  docs/rfcs/adr-002-transition-strategy.md
  docs/rfcs/adr-003-solver-algorithm.md
  docs/rfcs/adr-004-wasm-api-versioning.md
  lefthook.yml
  packages/engine/Cargo.toml
  packages/engine/src/core/category.rs
  packages/engine/src/core/config.rs
  packages/engine/src/core/error.rs
  packages/engine/src/core/keep.rs
  packages/engine/src/core/mod.rs
  packages/engine/src/core/solver.rs
  packages/engine/src/core/turn.rs
  packages/engine/src/lib.rs
  packages/engine/src/scoring.rs
  packages/engine/src/scoring/mod.rs
  packages/engine/src/scoring/rules.rs
  packages/engine/src/transition/mod.rs
  packages/engine/src/transition/probability.rs
  packages/engine/src/transition/table.rs
  packages/engine/src/types.rs
  packages/engine/tests/known_positions.rs
  packages/web/src/lib/components/auth/AuthHeader.svelte
  packages/web/src/lib/components/auth/__tests__/AuthHeader.test.ts
  packages/web/src/lib/components/auth/index.ts
Due: rust-fmt, rust-clippy, biome-check, svelte-check

chore(engine): remove deprecated M1-M4 code after migration
  packages/engine/src/lib.rs
  packages/engine/src/probability.rs
  packages/web/src/lib/components/scorecard/Scorecard.svelte
  packages/web/src/lib/components/scorecard/__tests__/Scorecard.test.ts
  packages/web/src/lib/engine.ts
  packages/web/src/lib/index.ts
  packages/web/src/lib/services/__mocks__/dicee-engine.ts
  packages/web/src/lib/services/__mocks__/engine-module.ts
  packages/web/src/lib/services/engine.test.ts
  packages/web/src/lib/services/engine.ts
  packages/web/src/lib/services/index.ts
  packages/web/src/lib/stores/__tests__/game.test.ts
  packages/web/src/lib/stores/game.svelte.ts
Due: biome-check, svelte-check

feat(web): add Phase 4 lobby system with PartyKit infrastructure
  packages/partykit/.gitignore
  packages/partykit/package.json
  packages/partykit/partykit.json
  packages/partykit/src/auth.ts
  packages/partykit/src/game/handlers.ts
  packages/partykit/src/game/index.ts
  packages/partykit/src/game/machine.ts
  packages/partykit/src/game/schemas.ts
  packages/partykit/src/game/scoring.ts
  packages/partykit/src/game/state.ts
  packages/partykit/src/game/types.ts
  packages/partykit/src/schemas.ts
  packages/partykit/src/server.ts
  packages/partykit/src/types.ts
  packages/partykit/tsconfig.json
  packages/web/src/lib/components/lobby/CreateRoomButton.svelte
  packages/web/src/lib/components/lobby/JoinRoomForm.svelte
  packages/web/src/lib/components/lobby/PlayerListItem.svelte
  packages/web/src/lib/components/lobby/RoomLobby.svelte
  packages/web/src/lib/components/lobby/__tests__/CreateRoomButton.test.ts
  packages/web/src/lib/components/lobby/__tests__/JoinRoomForm.test.ts
  packages/web/src/lib/components/lobby/__tests__/PlayerListItem.test.ts
  packages/web/src/lib/components/lobby/__tests__/RoomLobby.test.ts
  packages/web/src/lib/components/lobby/index.ts
  packages/web/src/lib/services/__tests__/engine.test.ts
  packages/web/src/lib/services/roomService.svelte.ts
  packages/web/src/lib/stores/__tests__/multiplayerGame.test.ts
  packages/web/src/lib/stores/multiplayerGame.svelte.ts
  packages/web/src/lib/stores/room.svelte.ts
  packages/web/src/lib/types/multiplayer.schema.ts
  packages/web/src/lib/types/multiplayer.ts
  packages/web/src/routes/lobby/+page.svelte
Due: biome-check, svelte-check

feat(web): add Phase 5 Hub architecture and multiplayer game flow
  packages/web/src/lib/components/dice/DiceTray.svelte
  packages/web/src/lib/components/dice/Die.svelte
  packages/web/src/lib/components/game/EndGameSummary.svelte
  packages/web/src/lib/components/game/GameGateway.svelte
  packages/web/src/lib/components/game/MultiplayerGameOverModal.svelte
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/game/MultiplayerScorecard.svelte
  packages/web/src/lib/components/game/OpponentPanel.svelte
  packages/web/src/lib/components/game/TurnIndicator.svelte
  packages/web/src/lib/components/game/index.ts
  packages/web/src/lib/components/hub/AuthStatusCard.svelte
  packages/web/src/lib/components/hub/HeroGame.svelte
  packages/web/src/lib/components/hub/Hub.svelte
  packages/web/src/lib/components/hub/LobbyGate.svelte
  packages/web/src/lib/components/hub/NewsDev.svelte
  packages/web/src/lib/components/hub/index.ts
  packages/web/src/lib/components/index.ts
  packages/web/src/lib/components/scorecard/CategoryRow.svelte
  packages/web/src/lib/components/ui/BottomSheet.svelte
  packages/web/src/lib/components/ui/index.ts
  packages/web/src/lib/styles/tokens.css
  packages/web/src/lib/utils/animations.ts
  packages/web/src/lib/utils/haptics.ts
  packages/web/src/lib/utils/index.ts
  packages/web/src/routes/+page.svelte
  packages/web/src/routes/dicee/+page.svelte
  packages/web/src/routes/game/[code]/+page.svelte
  packages/web/src/routes/summary/[id]/+page.svelte
Due: biome-check, svelte-check

test(engine): add property-based tests for M1-M4 solver
  packages/engine/tests/property_tests.rs
Due: none

chore: update project config and tooling
  .github/workflows/ci.yml
  package.json
  packages/web/.env.example
  packages/web/biome.json
  packages/web/package.json
  packages/web/src/lib/types.ts
  packages/web/vitest.config.ts
  pnpm-lock.yaml
Due: biome-check, svelte-check

docs: update project documentation and agent guidelines
  .claude/CONVENTIONS.md
  .windsurf/rules/core-guardrails.md
  .windsurf/rules/svelte-components.md
  CLAUDE.md
  CODEX.md
  docs/ANIMATION-RESEARCH-REPORT.md
  docs/rfcs/ALL_RFCS.txt
  docs/rfcs/rfc-001-statistical-engine.md
  scripts/setup-codex-cli.sh
Due: none

feat(akg): add Architectural Knowledge Graph schema infrastructure
  akg.config.ts
  docs/architecture/akg/PRE_AKG_PLANNING.md
  docs/architecture/akg/WEEK_1_2_SCHEMA_INFRASTRUCTURE.md
  docs/architecture/akg/graph/history/.gitkeep
  docs/architecture/akg/graph/milestones/.gitkeep
  docs/architecture/akg/simulations/SIMULATION_001_COMPONENT_IMPORTS_STORE.md
  docs/architecture/akg/simulations/SIMULATION_002_CIRCULAR_STORE_DEPENDENCY.md
  docs/architecture/akg/simulations/SIMULATION_003_DIRECT_WASM_IMPORT.md
  docs/architecture/akg/simulations/SIMULATION_004_SERVICE_IMPORTS_COMPONENT.md
  docs/architecture/akg/simulations/SIMULATION_005_PARALLEL_CATEGORY_TYPE.md
  package.json
  packages/web/biome.json
  packages/web/package.json
  packages/web/src/lib/types.ts
  packages/web/src/lib/types/category-convert.ts
  packages/web/src/lib/types/multiplayer.ts
  packages/web/src/tools/akg/__tests__/config/loader.test.ts
  packages/web/src/tools/akg/__tests__/integration.test.ts
  packages/web/src/tools/akg/__tests__/schema/config.schema.test.ts
  packages/web/src/tools/akg/__tests__/schema/graph.schema.test.ts
  packages/web/src/tools/akg/__tests__/schema/invariant.schema.test.ts
  packages/web/src/tools/akg/config/index.ts
  packages/web/src/tools/akg/config/loader.ts
  packages/web/src/tools/akg/index.ts
  packages/web/src/tools/akg/schema/config.schema.ts
  packages/web/src/tools/akg/schema/graph.schema.ts
  packages/web/src/tools/akg/schema/index.ts
  packages/web/src/tools/akg/schema/invariant.schema.ts
  pnpm-lock.yaml
Due: biome-check, svelte-check

feat(akg): add Week 2 discovery engine with ts-morph integration
  packages/web/src/tools/akg/__tests__/discovery/project.test.ts
  packages/web/src/tools/akg/__tests__/discovery/svelte-parser.test.ts
  packages/web/src/tools/akg/cli/discover.ts
  packages/web/src/tools/akg/discovery/edge-factory.ts
  packages/web/src/tools/akg/discovery/import-analyzer.ts
  packages/web/src/tools/akg/discovery/index.ts
  packages/web/src/tools/akg/discovery/node-factory.ts
  packages/web/src/tools/akg/discovery/project.ts
  packages/web/src/tools/akg/discovery/svelte-parser.ts
  packages/web/src/tools/akg/index.ts
Due: biome-check, svelte-check

feat(akg): add Week 3 query engine and invariant system
  .claude/settings.json
  .envrc
  .gemini/GEMINI.md
  .gitignore
  .mise.toml
  CLAUDE.md
  biome.json
  docs/architecture/akg/graph/current.json
  package.json
  packages/web/src/tools/akg/__tests__/query/engine.test.ts
  packages/web/src/tools/akg/cli/check.ts
  packages/web/src/tools/akg/index.ts
  packages/web/src/tools/akg/invariants/definitions/index.ts
  packages/web/src/tools/akg/invariants/definitions/layer-component-isolation.ts
  packages/web/src/tools/akg/invariants/definitions/service-layer-boundaries.ts
  packages/web/src/tools/akg/invariants/definitions/store-no-circular-deps.ts
  packages/web/src/tools/akg/invariants/definitions/wasm-single-entry.ts
  packages/web/src/tools/akg/invariants/index.ts
  packages/web/src/tools/akg/invariants/registry.ts
  packages/web/src/tools/akg/invariants/runner.ts
  packages/web/src/tools/akg/query/cycles.ts
  packages/web/src/tools/akg/query/engine.ts
  packages/web/src/tools/akg/query/index.ts
  packages/web/src/tools/akg/query/traversal.ts
  packages/web/src/tools/akg/schema/graph.schema.ts
Due: biome-check, svelte-check

feat(akg): add Week 4 reporting and naming invariants
  akg.config.ts
  docs/architecture/akg/WEEK_4_VISUALIZATION_REPORTING.md
  docs/architecture/akg/graph/current.json
  packages/engine/tests/property_tests.rs
  packages/web/src/tools/akg/__tests__/output/sarif.test.ts
  packages/web/src/tools/akg/cli/check.ts
  packages/web/src/tools/akg/invariants/definitions/callback-prop-naming.ts
  packages/web/src/tools/akg/invariants/definitions/index.ts
  packages/web/src/tools/akg/invariants/definitions/store-file-naming.ts
  packages/web/src/tools/akg/output/index.ts
  packages/web/src/tools/akg/output/sarif.ts
  scripts/quality-gate.sh
Due: biome-check, svelte-check

chore(akg): fix Biome warnings in AKG modules
  packages/web/src/tools/akg/discovery/project.ts
  packages/web/src/tools/akg/discovery/svelte-parser.ts
  packages/web/src/tools/akg/invariants/definitions/layer-component-isolation.ts
  packages/web/src/tools/akg/invariants/definitions/service-layer-boundaries.ts
  packages/web/src/tools/akg/invariants/definitions/wasm-single-entry.ts
  packages/web/src/tools/akg/invariants/runner.ts
  packages/web/src/tools/akg/query/cycles.ts
  packages/web/src/tools/akg/query/traversal.ts
Due: biome-check, svelte-check

docs: update config and docs for AKG Week 4
  .envrc
  .mcp.json
  CLAUDE.md
Due: none

feat(akg): add Week 5 CI integration and incremental discovery
  .github/workflows/ci.yml
  docs/architecture/akg/AUTHORING_INVARIANTS.md
  docs/architecture/akg/WEEK_5_CI_INTEGRATION.md
  packages/web/src/tools/akg/cli/discover.ts
Due: biome-check, svelte-check

feat(akg): add watch mode for continuous discovery
  docs/architecture/akg/WEEK_5_CI_INTEGRATION.md
  packages/web/src/tools/akg/cli/discover.ts
Due: biome-check, svelte-check

docs: update CLAUDE.md with AKG agent usage patterns
  CLAUDE.md
Due: none

feat(telemetry): add Phase 6 telemetry system
  docs/PHASE_6_TELEMETRY.md
  packages/web/src/lib/services/index.ts
  packages/web/src/lib/services/telemetry.ts
  packages/web/src/lib/types/telemetry.ts
  packages/web/src/routes/api/telemetry/+server.ts
Due: biome-check, svelte-check

feat(telemetry): add game flow tracking and scheduled cleanup
  packages/web/src/lib/hooks/index.ts
  packages/web/src/lib/hooks/useTelemetryGameHooks.ts
  packages/web/src/routes/+layout.svelte
  packages/web/src/routes/dicee/+page.svelte
  supabase/migrations/20241202000007_telemetry_cron.sql
Due: biome-check, svelte-check

chore(deploy): add Vercel configuration
  .gitignore
  vercel.json
Due: none

chore(deploy): include pre-built WASM for Vercel deployment
  .gitignore
  packages/web/src/lib/wasm/.gitignore
  packages/web/src/lib/wasm/LICENSE
  packages/web/src/lib/wasm/dicee_engine.d.ts
  packages/web/src/lib/wasm/dicee_engine.js
  packages/web/src/lib/wasm/dicee_engine_bg.wasm
  packages/web/src/lib/wasm/dicee_engine_bg.wasm.d.ts
  packages/web/src/lib/wasm/package.json
  vercel.json
Due: biome-check, svelte-check

chore(deploy): switch to adapter-vercel for proper deployment
  packages/web/package.json
  packages/web/svelte.config.js
  pnpm-lock.yaml
  vercel.json
Due: none

fix(deploy): copy vercel output to root for Build Output API
  vercel.json
Due: none

docs(akg): add Mermaid visualization RFC and update workflow docs
  .claude/environment-strategy.yaml
  .claude/workflow-orchestration.md
  CLAUDE.md
  docs/PHASE_6_TELEMETRY.md
  docs/architecture/akg/RFC_MERMAID_VISUALIZATION.md
Due: none

feat(akg): implement AKG MCP server with 6 architecture query tools
  .mcp.json
  packages/web/package.json
  packages/web/src/tools/akg/mcp/index.ts
  packages/web/src/tools/akg/mcp/server.ts
  pnpm-lock.yaml
Due: biome-check, svelte-check

feat(akg): add Mermaid diagram generation with atomic pipeline
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
  package.json
  packages/web/src/tools/akg/cli/discover.ts
  packages/web/src/tools/akg/cli/mermaid.ts
  packages/web/src/tools/akg/output/index.ts
  packages/web/src/tools/akg/output/mermaid.ts
Due: biome-check, svelte-check

feat(akg): add Week 3 CI integration and diagram staleness check
  .github/workflows/ci.yml
  CLAUDE.md
  scripts/quality-gate.sh
Due: none

feat(akg): add Week 4 MCP testing, dataflow diagrams, and caching
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  package.json
  packages/web/src/tools/akg/cli/mermaid.ts
  packages/web/src/tools/akg/mcp/server.ts
  packages/web/src/tools/akg/mcp/test-server.ts
  packages/web/src/tools/akg/output/index.ts
  packages/web/src/tools/akg/output/mermaid.ts
Due: biome-check, svelte-check

chore(claude): integrate AKG MCP server into agentic workflow
  .claude/commands/akg.md
  .claude/commands/quality.md
  .claude/workflow-orchestration.md
  CLAUDE.md
  scripts/hooks/session-init.sh
Due: none

feat(multiplayer): add /lobby/[id] route and deploy PartyKit
  docs/architecture/akg/graph/current.json
  packages/web/.env.example
  packages/web/src/lib/components/hub/LobbyGate.svelte
  packages/web/src/routes/lobby/[id]/+page.svelte
Due: biome-check, svelte-check

docs: update README with accurate project information
  README.md
Due: none

feat(workflow): migrate to Durable Objects with chat integration
  .claude/CONVENTIONS.md
  .claude/auth-strategy.yaml
  .claude/cli-reference.yaml
  .claude/environment-strategy.yaml
  .claude/workflow-orchestration.md
  CLAUDE.md
  README.md
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/dicee-do-migration-guide.md
  docs/game-lobby-chat.md
  packages/web/src/lib/components/hub/LobbyGate.svelte
Due: biome-check, svelte-check

feat(agentic): add Windsurf/Cascade configuration with AKG integration
  .windsurf/README.md
  .windsurf/rules/core-guardrails.md
  .windsurf/rules/svelte-components.md
  .windsurf/workflows/build-component.md
  .windsurf/workflows/verify-task.md
  WINDSURF.md
  scripts/setup-windsurf-config.sh
Due: none

feat(chat): implement lobby chat UI components (do-4b.6-11)
  packages/web/src/lib/components/chat/ChatInput.svelte
  packages/web/src/lib/components/chat/ChatMessage.svelte
  packages/web/src/lib/components/chat/ChatPanel.svelte
  packages/web/src/lib/components/chat/QuickChatBar.svelte
  packages/web/src/lib/components/chat/ReactionBar.svelte
  packages/web/src/lib/components/chat/TypingIndicator.svelte
  packages/web/src/lib/components/chat/index.ts
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/lobby/RoomLobby.svelte
  packages/web/src/lib/services/roomService.svelte.ts
  packages/web/src/lib/stores/chat.svelte.ts
  packages/web/src/lib/types/multiplayer.ts
  packages/web/src/routes/game/[code]/+page.svelte
  packages/web/src/routes/lobby/[id]/+page.svelte
Due: biome-check, svelte-check

feat(workflow): migrate to Durable Objects with chat integration
  CLAUDE.md
  docs/architecture/akg/graph/current.json
  docs/testing/durable-objects-testing.md
  packages/cloudflare-do/.gitignore
  packages/cloudflare-do/package.json
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/__tests__/auth.test.ts
  packages/cloudflare-do/src/__tests__/helpers/test-jwt.ts
  packages/cloudflare-do/src/__tests__/worker.integration.test.ts
  packages/cloudflare-do/src/auth.ts
  packages/cloudflare-do/src/chat/ChatManager.ts
  packages/cloudflare-do/src/chat/__tests__/ChatManager.test.ts
  packages/cloudflare-do/src/chat/index.ts
  packages/cloudflare-do/src/chat/schemas.ts
  packages/cloudflare-do/src/chat/types.ts
  packages/cloudflare-do/src/game/__tests__/machine.test.ts
  packages/cloudflare-do/src/game/__tests__/scoring.test.ts
  packages/cloudflare-do/src/game/__tests__/state.test.ts
  packages/cloudflare-do/src/game/index.ts
  packages/cloudflare-do/src/game/machine.ts
  packages/cloudflare-do/src/game/scoring.ts
  packages/cloudflare-do/src/game/state.ts
  packages/cloudflare-do/src/game/types.ts
  packages/cloudflare-do/src/types.ts
  packages/cloudflare-do/src/worker.ts
  packages/cloudflare-do/tsconfig.json
  packages/cloudflare-do/vitest.config.ts
  packages/cloudflare-do/vitest.integration.config.ts
  packages/cloudflare-do/wrangler.toml
  packages/web/.gitignore
  packages/web/package.json
  packages/web/src/lib/services/roomService.svelte.ts
  packages/web/src/lib/stores/chat.svelte.ts
  packages/web/tests/chat.spec.ts
  pnpm-lock.yaml
Due: biome-check, svelte-check
