Repository verlyn13/dicee: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, biome-check, svelte-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "packages/engine/src/**/*.rs"
      run: mise exec -- cargo fmt --manifest-path packages/engine/Cargo.toml --check
      stage_fixed: true

    rust-clippy:
      glob: "packages/engine/src/**/*.rs"
      run: mise exec -- cargo clippy --manifest-path packages/engine/Cargo.toml -- -D warnings

    biome-check:
      glob: "packages/web/src/**/*.{ts,js,svelte}"
      run: mise exec -- pnpm --filter @dicee/web biome:check

    svelte-check:
      glob: "packages/web/src/**/*.{ts,svelte}"
      run: mise exec -- pnpm --filter @dicee/web check

pre-push:
  commands:
    rust-test:
      run: mise exec -- cargo test --manifest-path packages/engine/Cargo.toml

fix(viewport): phase 2 mobile viewport stability improvements
  packages/web/src/app.html
  packages/web/src/lib/components/chat/ChatPanel.svelte
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/spectator/SpectatorView.svelte
Due: biome-check, svelte-check

feat(alarms): phase 1 alarm queue architecture for concurrent alarms
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/lib/alarm-queue.ts
  packages/cloudflare-do/src/lib/logger.ts
  packages/cloudflare-do/src/types.ts
Due: none

fix(multiplayer): add secret validation and getPlayerList race fix
  CLAUDE.md
  packages/cloudflare-do/src/GameRoom.ts
Due: none

feat: complete domain migration to dicee.games with secrets recovery
  .claude/auth-strategy.yaml
  .claude/cli-reference.yaml
  .claude/environment-strategy.yaml
  .claude/gopass-structure.yaml
  .claude/workflow-orchestration.md
  .gemini/GEMINI.md
  .mise.toml
  .windsurfrules
  CODEX.md
  COPILOT-QUICK-REF.txt
  README.md
  WINDSURF.md
  docs/PROJECT-MCP-CONFIG.md
  docs/architecture/akg/RFC_MERMAID_VISUALIZATION.md
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/deployment-checklist.md
  docs/planning/create-report.md
  docs/planning/domain-migration-report.md
  docs/planning/observability-plan.md
  docs/testing/ANDROID-TESTING-WORKFLOW.md
  mise.toml
  packages/cloudflare-do/src/__tests__/worker.integration.test.ts
  packages/cloudflare-do/src/worker.ts
  packages/cloudflare-do/wrangler.toml
  packages/engine/rust-toolchain.toml
  packages/web/_redirects
  packages/web/scripts/cdp-console-monitor.mjs
  packages/web/src/app.d.ts
  packages/web/src/lib/services/roomService.svelte.ts
  packages/web/src/lib/types/device-testing.schema.ts
  packages/web/src/routes/ws/lobby/+server.ts
  packages/web/src/routes/ws/room/[code]/+server.ts
  packages/web/src/tools/akg/output/mermaid.ts
  packages/web/wrangler.toml
  scripts/copilot-mcp-wrapper.sh
  scripts/dicee-adb.fish
  scripts/setup-gopass-credentials.sh
Due: biome-check, svelte-check

fix: spectator chat and AI turn freezing issues
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/ai/controller.ts
  packages/cloudflare-do/src/lib/timeout.ts
  packages/web/src/lib/stores/chat.svelte.ts
  packages/web/src/routes/game/[code]/+page.svelte
  packages/web/src/routes/games/dicee/room/[code]/+page.svelte
  packages/web/src/routes/lobby/[id]/+page.svelte
Due: biome-check, svelte-check

Implement comprehensive bug reporting system
  packages/cloudflare-do/src/api/transcribe.ts
  packages/cloudflare-do/src/types.ts
  packages/cloudflare-do/src/worker.ts
  packages/cloudflare-do/wrangler.toml
  packages/web/biome.json
  packages/web/src/lib/components/BugReportAdmin.svelte
  packages/web/src/lib/components/BugReportDashboard.svelte
  packages/web/src/lib/components/BugReportTrigger.svelte
  packages/web/src/lib/components/BugReporter.svelte
  packages/web/src/lib/services/breadcrumbs.ts
  packages/web/src/lib/services/bugReport.ts
  packages/web/src/lib/services/consoleCapture.ts
  packages/web/src/lib/services/stateSnapshot.ts
  packages/web/src/lib/services/voiceRecorder.ts
  packages/web/src/lib/supabase/generated-types.ts
  packages/web/src/routes/api/transcribe/+server.ts
  supabase/migrations/20250104000001_bug_reports.sql
Due: biome-check, svelte-check

Integrate bug reporting into settings panel
  packages/web/src/lib/components/settings/SettingsPanel.svelte
Due: biome-check, svelte-check

feat(ui): Neo-Brutalist bug reporter with mobile-first design
  Telemetry-Observability-Report.md
  UI-UX-Design-Report.md
  docs/bug-reporter-plan.md
  packages/web/src/lib/components/BugReportTrigger.svelte
  packages/web/src/lib/components/BugReporter.svelte
Due: biome-check, svelte-check

refactor(persistence): unified alarm system and complete domain events
  .github/workflows/ci.yml
  docs/architecture/PERSISTENCE_ARCHITECTURE_ANALYSIS.md
  package.json
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/lib/persistence/game-persistence.service.ts
  packages/cloudflare-do/src/lib/persistence/index.ts
  packages/cloudflare-do/src/lib/persistence/migrations.ts
  packages/cloudflare-do/src/lib/persistence/persistence-queue.ts
  packages/cloudflare-do/src/lib/persistence/schemas.ts
  packages/cloudflare-do/src/types.ts
  packages/web/src/lib/types/database.ts
  scripts/quality-gate.sh
Due: biome-check, svelte-check

feat(persistence): add compile-time schema validation
  packages/cloudflare-do/package.json
  packages/cloudflare-do/src/lib/persistence/index.ts
  packages/cloudflare-do/src/lib/persistence/schema-validation.ts
Due: none

feat(persistence): Phase 4 RPC-based atomic persistence
  docs/architecture/PERSISTENCE_ARCHITECTURE_ANALYSIS.md
  packages/cloudflare-do/src/lib/persistence/index.ts
  packages/cloudflare-do/src/lib/persistence/supabase-rpc.ts
  supabase/migrations/20260105000001_rpc_types.sql
  supabase/migrations/20260105000002_rpc_create_game.sql
  supabase/migrations/20260105000003_rpc_complete_game.sql
  supabase/migrations/20260105000004_rpc_persist_events.sql
  supabase/migrations/20260105000005_rpc_abandon_game.sql
  supabase/migrations/20260105000006_rpc_aggregate_stats.sql
  supabase/tests/rpc_functions.sql
Due: none

feat(persistence): integrate RPC client for atomic database operations
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/lib/persistence/persistence-queue.ts
Due: none

fix(bug-reporter): resolve lifecycle_outside_component error
  packages/web/src/lib/services/stateSnapshot.ts
Due: biome-check, svelte-check

docs: update persistence architecture analysis with Phase 4 RPC completion
  docs/architecture/PERSISTENCE_ARCHITECTURE_ANALYSIS.md
Due: none

feat(ai): implement AI improvements - bug fix, speed optimization, and UI enhancements
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/ai/controller.ts
  packages/cloudflare-do/src/ai/gameroom-integration.ts
  packages/cloudflare-do/src/ai/profiles.ts
  packages/cloudflare-do/src/ai/types.ts
  packages/web/src/lib/components/lobby/AIOpponentSelector.svelte
  pnpm-lock.yaml
Due: biome-check, svelte-check

fix(web): add PWA mobile meta tag and correct fallback audio paths
  packages/web/src/app.html
  packages/web/src/lib/services/audio.ts
Due: biome-check, svelte-check

fix(game-room): hibernate-safe AI player type checks
  packages/cloudflare-do/src/GameRoom.ts
Due: none

chore(config): pin pnpm@10 in mise, advance compatibility_date to 2025-01-01
  .mise.toml
  packages/cloudflare-do/wrangler.toml
  packages/web/wrangler.toml
Due: none

chore(deps): update @modelcontextprotocol/server-memory to 2026.1.26
  package.json
  pnpm-lock.yaml
Due: none

chore(mcp): add CF Bearer auth, Context7, and GitHub servers
  .cursor/mcp.json
  .mcp.json
Due: none

fix rust clippy ordering warnings
  packages/engine/src/core/turn.rs
Due: rust-fmt, rust-clippy

fix copilot mcp template paths
  .copilot-mcp-README.md
  .copilot-mcp.json
  COPILOT-MCP-SETUP.md
  docs/MCP-SETUP.md
Due: none

pin rust toolchain and refresh local config docs
  .github/workflows/ci.yml
  .mise.toml
  README.md
  docs/deployment-checklist.md
  docs/planning/domain-migration-report.md
  package.json
  packages/cloudflare-do/src/lib/persistence/supabase-rpc.ts
  packages/engine/rust-toolchain.toml
  supabase/config.toml
Due: none

refresh github actions runtime versions
  .github/workflows/ci.yml
Due: none

chore(meta): add project.yaml interop header for meta-inventory
  project.yaml
Due: none

docs(claude): record manifest maintenance and live-readback rule
  CLAUDE.md
Due: none

docs: reconcile with the 2026-09 production release
  AGENTS.md
  docs/architecture/README.md
  docs/cloudflare.md
  docs/development/organization-alignment.md
  docs/roadmap.md
  docs/status.md
  packages/web/src/routes/ws/lobby/+server.ts
  packages/web/src/routes/ws/room/[code]/+server.ts
  project.yaml
Due: biome-check, svelte-check

docs(agents): record the Claude surface ratchet and the local-settings hazard
  docs/development/agent-clients.md
Due: none
