Repository verlyn13/dicee: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, biome-check, svelte-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "packages/engine/src/**/*.rs"
      run: mise exec -- cargo fmt --manifest-path packages/engine/Cargo.toml --check
      stage_fixed: true

    rust-clippy:
      glob: "packages/engine/src/**/*.rs"
      run: mise exec -- cargo clippy --manifest-path packages/engine/Cargo.toml -- -D warnings

    biome-check:
      glob: "packages/web/src/**/*.{ts,js,svelte}"
      run: mise exec -- pnpm --filter @dicee/web biome:check

    svelte-check:
      glob: "packages/web/src/**/*.{ts,svelte}"
      run: mise exec -- pnpm --filter @dicee/web check

pre-push:
  commands:
    rust-test:
      run: mise exec -- cargo test --manifest-path packages/engine/Cargo.toml

fix: Update RoomLobby tests for new component behavior
  packages/web/src/lib/components/lobby/__tests__/RoomLobby.test.ts
Due: biome-check, svelte-check

refactor(types): Unified UPPERCASE wire protocol format
  packages/cloudflare-do/src/GameRoom.ts
  packages/web/src/lib/components/lobby/RoomLobby.svelte
  packages/web/src/lib/services/roomService.svelte.ts
  packages/web/src/lib/stores/multiplayerGame.svelte.ts
  packages/web/src/lib/stores/room.svelte.ts
  packages/web/src/lib/types/multiplayer.schema.ts
  packages/web/src/lib/types/multiplayer.ts
Due: biome-check, svelte-check

feat(audio): implement MVP audio system with ElevenLabs-generated sounds
  docs/audio-generation.md
  docs/audio-requirements.md
  docs/references/audio-plan.md
  docs/references/elevenlabs/elevenlabs-api-auth.md
  docs/references/elevenlabs/elevenlabs-api-overview.md
  docs/references/elevenlabs/elevenlabs-models.md
  docs/references/elevenlabs/elevenlabs-sound-effects.md
  packages/web/src/lib/components/dice/DiceTray.svelte
  packages/web/src/lib/components/game/TurnIndicator.svelte
  packages/web/src/lib/components/hud/AudioSettingsPanel.svelte
  packages/web/src/lib/components/scorecard/CategoryRow.svelte
  packages/web/src/lib/services/audio.ts
  packages/web/src/lib/stores/__tests__/audio.test.ts
  packages/web/src/lib/stores/audio.svelte.ts
  packages/web/src/tools/audio-gen/README.md
  packages/web/src/tools/audio-gen/cli/generate.ts
  packages/web/src/tools/audio-gen/client/elevenlabs.ts
  packages/web/src/tools/audio-gen/client/index.ts
  packages/web/src/tools/audio-gen/config/assets.ts
  packages/web/src/tools/audio-gen/config/index.ts
  packages/web/src/tools/audio-gen/index.ts
  packages/web/src/tools/audio-gen/schema/assets.schema.ts
  packages/web/src/tools/audio-gen/schema/elevenlabs.schema.ts
  packages/web/src/tools/audio-gen/schema/index.ts
  packages/web/static/audio/ambient/ambient_base.ogg
  packages/web/static/audio/generation-manifest.json
  packages/web/static/audio/sfx/dice/dice_roll_heavy.ogg
  packages/web/static/audio/sfx/dice/dice_roll_light.ogg
  packages/web/static/audio/sfx/dice/dice_select.ogg
  packages/web/static/audio/sfx/score/dicee_fanfare.ogg
  packages/web/static/audio/sfx/score/score_negative.ogg
  packages/web/static/audio/sfx/score/score_positive.ogg
  packages/web/static/audio/sfx/ui/turn_start.ogg
Due: biome-check, svelte-check

fix(ci): build @dicee/shared before dependent jobs
  .github/workflows/ci.yml
  packages/cloudflare-do/src/GameRoom.ts
Due: none

fix(shared): remove tsconfig.tsbuildinfo from git
  packages/shared/.gitignore
  packages/shared/tsconfig.tsbuildinfo
Due: none

chore(akg): regenerate architecture diagrams
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
Due: none

chore(akg): regenerate architecture diagrams (fresh)
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
  docs/architecture/akg/graph/history/.gitkeep
Due: none

fix(ci): make AKG diagram staleness check non-blocking
  .github/workflows/ci.yml
Due: none

fix(quickplay): listen for CONNECTED event to trigger game start
  docs/debugging-advice.md
  docs/debugging-protocol.md
  packages/cloudflare-do/src/GameRoom.ts
  packages/web/src/routes/games/dicee/room/[code]/+page.svelte
Due: biome-check, svelte-check

docs: add debugging protocol for agentic workflows
  .claude/DEBUGGING.md
Due: none

feat(ux): add keyboard shortcuts and mobile keyboard improvements
  packages/web/src/lib/components/chat/ChatInput.svelte
  packages/web/src/lib/components/chat/ChatPanel.svelte
  packages/web/src/lib/components/chat/QuickChatBar.svelte
  packages/web/src/lib/components/dice/DiceTray.svelte
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/game/OpponentPanel.svelte
  packages/web/src/lib/components/game/TurnIndicator.svelte
  packages/web/src/lib/components/spectator/SpectatorView.svelte
  packages/web/src/lib/hooks/useKeyboardNavigation.svelte.ts
Due: biome-check, svelte-check

chore(akg): regenerate architecture diagrams
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
Due: none

fix(spectator): consolidate duplicate store subscriptions
  packages/web/src/lib/components/spectator/SpectatorView.svelte
Due: biome-check, svelte-check

fix(schemas): align Zod schemas with TypeScript types
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
  packages/shared/src/validation/schemas.ts
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/lobby/RoomLobby.svelte
  packages/web/src/lib/components/spectator/SpectatorView.svelte
  packages/web/src/lib/types/multiplayer.schema.ts
  packages/web/src/routes/games/dicee/room/[code]/+page.svelte
Due: biome-check, svelte-check

feat: settings menu and online users display
  docs/settings-preferences-plan.md
  packages/cloudflare-do/src/GlobalLobby.ts
  packages/shared/src/validation/index.ts
  packages/shared/src/validation/preferences.ts
  packages/web/src/lib/components/lobby/LobbyLanding.svelte
  packages/web/src/lib/components/profile/__tests__/ProfileForm.test.ts
  packages/web/src/lib/components/profile/__tests__/SetupModal.test.ts
  packages/web/src/lib/components/profile/__tests__/StatsDashboard.test.ts
  packages/web/src/lib/components/settings/SettingsButton.svelte
  packages/web/src/lib/components/settings/SettingsPanel.svelte
  packages/web/src/lib/components/settings/index.ts
  packages/web/src/lib/services/preferences.svelte.ts
  packages/web/src/lib/stores/lobby.svelte.ts
  packages/web/src/lib/supabase/__tests__/profiles.test.ts
  packages/web/src/lib/types/database.ts
  packages/web/src/routes/+layout.svelte
  supabase/migrations/20241210000001_user_preferences.sql
Due: biome-check, svelte-check

fix(dice): prevent animation layout shifts affecting other components
  packages/web/src/lib/components/dice/DiceTray.svelte
  packages/web/src/lib/components/dice/Die.svelte
Due: biome-check, svelte-check

fix(mobile): prevent layout shift when quick actions hide during roll
  packages/web/src/lib/components/dice/DiceTray.svelte
  packages/web/src/lib/components/dice/__tests__/DiceTray.test.ts
Due: biome-check, svelte-check

chore(ai): add comprehensive logging to diagnose AI turn freeze
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/ai/controller.ts
Due: none

chore(ai): add logging to AIRoomManager for freeze diagnosis
  packages/cloudflare-do/src/ai/gameroom-integration.ts
Due: none

test(ai): add AI integration tests for turn execution flow
  packages/cloudflare-do/src/ai/__tests__/integration.test.ts
Due: none

chore: update state files and regenerate AKG diagrams
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
Due: none

docs: add debugging protocol and AI monitoring to agent guardrails
  .claude/AGENT-GUARDRAILS.md
Due: none

fix(ai): restore private profile fields removed by biome unsafe fix
  packages/cloudflare-do/src/ai/brain/optimal.ts
  packages/cloudflare-do/src/ai/brain/personality.ts
  packages/cloudflare-do/src/ai/brain/random.ts
  packages/web/src/lib/wasm/dicee_engine_bg.wasm
Due: none

feat(types): complete type schema migration to Zod-derived types
  packages/web/src/lib/services/index.ts
  packages/web/src/lib/services/telemetry.ts
  packages/web/src/lib/types/index.ts
  packages/web/src/lib/types/multiplayer.schema.ts
  packages/web/src/lib/types/multiplayer.ts
  packages/web/src/lib/types/telemetry.schema.ts
  packages/web/src/lib/types/telemetry.ts
  packages/web/src/tools/akg/invariants/definitions/index.ts
  packages/web/src/tools/akg/invariants/definitions/type-schema-consistency.ts
Due: biome-check, svelte-check

feat(multiplayer): add game invite system with real-time notifications
  packages/cloudflare-do/src/GameRoom.ts
  packages/cloudflare-do/src/GlobalLobby.ts
  packages/cloudflare-do/src/types.ts
  packages/web/src/lib/components/lobby/InvitePopup.svelte
  packages/web/src/lib/components/lobby/LobbyLanding.svelte
  packages/web/src/lib/components/lobby/OnlineUserItem.svelte
  packages/web/src/lib/components/lobby/RoomLobby.svelte
  packages/web/src/lib/services/roomService.svelte.ts
  packages/web/src/lib/stores/lobby.svelte.ts
  packages/web/src/lib/stores/room.svelte.ts
  packages/web/src/routes/ws/lobby/+server.ts
  packages/web/src/routes/ws/room/[code]/+server.ts
Due: biome-check, svelte-check

feat(ux): improve keyboard handling and mobile chat experience
  packages/web/biome.json
  packages/web/src/lib/components/chat/ChatInput.svelte
  packages/web/src/lib/components/chat/ChatPanel.svelte
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/spectator/SpectatorView.svelte
  packages/web/src/lib/styles/global.css
Due: biome-check, svelte-check

chore(akg): regenerate graph and diagrams after type migration
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
Due: none

feat(lobby): simplify game modes to Solo/Quick Play/Multiplayer
  packages/web/src/lib/components/game/GameGateway.svelte
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/game/index.ts
  packages/web/src/lib/components/lobby/AIOpponentSelector.svelte
  packages/web/src/lib/components/lobby/CreateRoomModal.svelte
  packages/web/src/lib/components/lobby/JoinRoomModal.svelte
  packages/web/src/lib/components/lobby/LobbyLanding.svelte
  packages/web/src/lib/components/lobby/PlayVsAIButton.svelte
  packages/web/src/lib/components/lobby/RoomLobby.svelte
  packages/web/src/lib/components/lobby/index.ts
  packages/web/src/routes/dicee/+page.svelte
  packages/web/src/routes/games/dicee/+page.svelte
  packages/web/src/routes/games/dicee/room/[code]/+page.svelte
Due: biome-check, svelte-check

fix(mobile): simplify waiting room layout for Android compatibility
  packages/web/src/lib/components/chat/ChatInput.svelte
  packages/web/src/lib/components/chat/ChatPanel.svelte
  packages/web/src/lib/components/game/MultiplayerGameView.svelte
  packages/web/src/lib/components/lobby/RoomLobby.svelte
Due: biome-check, svelte-check

chore(akg): regenerate diagrams after mobile UX simplification
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
Due: none

feat(ai): add adaptive brain with phase-shifting strategy
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
  packages/cloudflare-do/src/ai/brain/adaptive.ts
  packages/cloudflare-do/src/ai/brain/factory.ts
  packages/cloudflare-do/src/ai/brain/index.ts
  packages/cloudflare-do/src/ai/brain/optimal.ts
  packages/cloudflare-do/src/ai/brain/personality.ts
  packages/cloudflare-do/src/ai/brain/probabilistic.ts
  packages/cloudflare-do/src/ai/brain/random.ts
  packages/cloudflare-do/src/ai/profiles.ts
  packages/cloudflare-do/src/ai/types.ts
  packages/simulation/docs/AI_STRATEGY_KNOWLEDGE_BASE.md
  packages/simulation/src/cli/run.ts
  packages/simulation/src/core/cloudflare-brain-integration.ts
  packages/simulation/src/core/index.ts
  packages/simulation/src/core/phase-shifting-brain.ts
  packages/simulation/src/schemas/simulation.schema.ts
Due: none

fix(engine): suppress clippy self_only_used_in_recursion lint
  packages/engine/src/core/solver.rs
Due: rust-fmt, rust-clippy

fix(engine): handle clippy lint rename across Rust versions
  packages/engine/src/core/solver.rs
Due: rust-fmt, rust-clippy

fix(multiplayer): sync room code properly in waiting room
  packages/web/src/lib/stores/room.svelte.ts
  packages/web/src/routes/games/dicee/room/[code]/+page.svelte
Due: biome-check, svelte-check

feat(ux): redesign waiting room with simplified invite flow
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.json
  docs/architecture/akg/diagrams/COMPONENT_DEPENDENCIES.md
  docs/architecture/akg/diagrams/DATAFLOW.json
  docs/architecture/akg/diagrams/DATAFLOW.md
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.json
  docs/architecture/akg/diagrams/LAYER_ARCHITECTURE.md
  docs/architecture/akg/diagrams/README.md
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.json
  docs/architecture/akg/diagrams/STORE_DEPENDENCIES.md
  docs/architecture/akg/graph/current.json
  packages/cloudflare-do/src/GlobalLobby.ts
  packages/web/src/lib/components/lobby/InvitePlayerModal.svelte
  packages/web/src/lib/components/lobby/RoomLobby.svelte
  packages/web/src/lib/stores/lobby.svelte.ts
Due: biome-check, svelte-check

test(lobby): update RoomLobby tests for new UX
  packages/web/src/lib/components/lobby/__tests__/RoomLobby.test.ts
Due: biome-check, svelte-check

chore: remove all Vercel references - fully deprecated
  .claude/cli-reference.yaml
  CLAUDE.md
Due: none
